@media (max-width: 600px) {
    .mode {
        margin-left: auto;
        width: 87px;
        position: fixed;
        top: 10px;
        right: 15px;
        cursor: pointer;
        z-index: 3;
    }
    
    .btn {
        padding: 10px;
        cursor: pointer;
    }
    
    .sub-info {
        /* border: 3px solid red; */
        position: absolute;
        margin-right: 16px;
        min-width: 90px;
        z-index: 4;
        display: none;
    }
      
    #india-total:hover .sub-info {
        display: flex;
        flex-direction: column;
    }
}